@font-face {
  font-family: "Anjoman";
  src: url("fonts/100-Anjoman-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/200-Anjoman-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/300-Anjoman-Medium.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/400-Anjoman-SemiBold.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/500-Anjoman-Bold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/600-Anjoman-ExtraBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/700-Anjoman-UltraBold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/800-Anjoman-Black.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/900-Anjoman-Heavy.woff2") format("woff2");
  font-weight: 900;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: 600 38px Anjoman;
}

h3 {
  font: 600 28px Anjoman;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: #E9E5D9;
}

.base {
  width: 100%;
}

section {
  position: relative;
  padding: 0;
}

.wfull {
  width: 100%;
}

.wmain {
  width: 1274px !important;
}

.line,
.line2,
.line3 {
  position: absolute;
}
.line.h-line,
.line2.h-line,
.line3.h-line {
  border-top: 2px solid;
}
.line.v-line,
.line2.v-line,
.line3.v-line {
  border-left: 2px solid;
}
.line.o-line,
.line2.o-line,
.line3.o-line {
  border-color: #E87C12;
}
.line.l-line,
.line2.l-line,
.line3.l-line {
  border-color: #E9E5D9;
}
.line.d-line,
.line2.d-line,
.line3.d-line {
  border-color: #444444;
}

.dot {
  position: absolute;
  border-radius: 50%;
}
.dot.o-dot {
  background-color: #E87C12;
}
.dot.l-dot {
  background-color: #E9E5D9;
}
.dot.d-dot {
  background-color: #3D3D3D;
}
.dot.dot1 {
  width: 20px;
  height: 20px;
}
.dot.dot1.dotH {
  top: -11px;
}
.dot.dot1.dotV {
  left: -11px !important;
}
.dot.dot2 {
  width: 10px;
  height: 10px;
}
.dot.dot2.dotH {
  top: -6px;
}

@media screen and (max-width: 1440px) {
  .wmain {
    width: 906px !important;
  }
  .dot.dot1 {
    width: 15px;
    height: 15px;
  }
  .dot.dot1.dotH {
    top: -8px;
  }
  .dot.dot1.dotV {
    left: -8px !important;
  }
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .wmain {
    width: 592px !important;
  }
}
@media screen and (max-width: 768px) {
  .wmain {
    width: 80% !important;
  }
  .dot.dot1 {
    width: 10px;
    height: 10px;
  }
  .dot.dot1.dotH {
    top: -6px;
  }
  .dot.dot1.dotV {
    left: -6px !important;
  }
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}
@-webkit-keyframes heroFirstLine {
  0% {
    left: 101%;
  }
  100% {
    left: 30%;
  }
}
@keyframes heroFirstLine {
  0% {
    left: 101%;
  }
  100% {
    left: 30%;
  }
}
@-webkit-keyframes heroFirstLineTablet {
  0% {
    left: 101%;
  }
  100% {
    left: 15%;
  }
}
@keyframes heroFirstLineTablet {
  0% {
    left: 101%;
  }
  100% {
    left: 15%;
  }
}
@-webkit-keyframes heroBox {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes heroBox {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes heroMainTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroMainTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes heroSubTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroSubTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.hero,
section.approach {
  color: #3D3D3D;
}

section.hero {
  min-height: 100vh;
  background: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.hero .herofull {
  position: absolute;
  bottom: -212px;
  height: 498px;
}
section.hero .herofull .line {
  top: 0px;
  width: 70%;
}
section.hero .herofull .line .dot {
  left: -2px;
}
section.hero .herofull .line.heroFirstLine {
  -webkit-animation: heroFirstLine 1.5s;
          animation: heroFirstLine 1.5s;
}
section.hero .herofull .heromain {
  height: 100%;
  margin: 0 auto;
}
section.hero .herofull .heromain .hero-box {
  height: 0;
  width: 666px;
  background-color: #E9E5D9;
}
section.hero .herofull .heromain .hero-box.heroBox {
  -webkit-animation: heroBox 2.5s 1.5s;
          animation: heroBox 2.5s 1.5s;
}
section.hero .herofull .heromain .hero-box .hero-text {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 104px 0 42px;
  overflow: hidden;
}
section.hero .herofull .heromain .hero-box .hero-text h1.maintitle {
  opacity: 0;
  font-size: 100px;
}
section.hero .herofull .heromain .hero-box .hero-text h1.maintitle.heroMainTitle {
  -webkit-animation: heroMainTitle 1s linear 2.5s;
          animation: heroMainTitle 1s linear 2.5s;
}
section.hero .herofull .heromain .hero-box .hero-text span.subtitle {
  opacity: 0;
  font: 200 37px Anjoman;
}
section.hero .herofull .heromain .hero-box .hero-text span.subtitle.heroSubTitle {
  -webkit-animation: heroSubTitle 1s linear 3.2s;
          animation: heroSubTitle 1s linear 3.2s;
}
section.hero .herofull .heromain .hero-box .hero-text .hero-p {
  opacity: 0;
  font: 400 23px Anjoman;
  margin: 122px 0 22px;
}
section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine {
  top: -30px;
  left: unset;
  right: 70px;
  width: unset;
  height: 0;
}
section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine .dot {
  top: unset;
  bottom: -2px;
}

section.approach {
  padding: 275px 0 64px;
}
section.approach .appfull {
  position: relative;
  height: 455px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.approach .appfull .emptybox {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section.approach .appfull .appmain {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
section.approach .appfull .appmain .app-text,
section.approach .appfull .appmain .app-pic {
  width: calc(50% - 10px);
}
section.approach .appfull .appmain .app-text {
  position: relative;
  padding: 0 104px 0 80px;
}
section.approach .appfull .appmain .app-text p {
  font: 400 16px Anjoman;
}
section.approach .appfull .appmain .app-pic {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.approach .appfull .appmain .app-pic img {
  width: 100%;
}
section.approach .appfull.appfull:nth-child(odd) .lineZireAks {
  width: calc(50% + 90px);
  bottom: 0;
  left: 0;
  z-index: 50;
}
section.approach .appfull.appfull:nth-child(odd) .lineZireAks .dot {
  right: -2px;
}
section.approach .appfull.appfull:nth-child(odd) .lineTitre {
  width: calc(100% + 80px);
  top: 22px;
  right: 0;
}
section.approach .appfull.appfull:nth-child(odd) .lineTitre .dot {
  left: -2px;
}
section.approach .appfull.appfull:nth-child(odd) .app-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section.approach .appfull.appfull:nth-child(even) {
  direction: ltr;
}
section.approach .appfull.appfull:nth-child(even) .lineTitre {
  display: none;
  right: 0;
}
section.approach .appfull.appfull:nth-child(even) .lineTitre .dot {
  left: -2px;
}
section.approach .appfull.appfull:nth-child(even) .lineRooyeAksDesk {
  width: calc(50% + 90px);
  top: 0;
  right: 0;
  z-index: 50;
}
section.approach .appfull.appfull:nth-child(even) .lineRooyeAksDesk .dot {
  left: -2px;
}
section.approach .appfull.appfull:nth-child(even) .lineRooyeAksMob {
  display: none;
}
section.approach .appfull.appfull:nth-child(even) .app-text {
  direction: rtl;
  margin-top: -25px;
}
section.approach .appfull.appfull:nth-child(even) .app-pic {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

section.values {
  background: url("images/values.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.values .valfull {
  position: relative;
  background-color: rgba(61, 61, 61, 0.9);
  color: #E9E5D9;
  padding-bottom: 85px;
}
section.values .valfull .line {
  width: 50%;
  top: -1px;
  left: 0;
}
section.values .valfull .line .dot {
  right: -2px;
}
section.values .valfull .val-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  color: #E9E5D9;
}
section.values .valfull .val-box:nth-child(odd) .empty-box {
  width: 30%;
}
section.values .valfull .val-box:nth-child(even) .empty-box {
  width: 20%;
}
section.values .valfull .val-box .empty-box {
  position: relative;
}
section.values .valfull .val-box .empty-box .line {
  width: 100%;
  top: 24px;
  left: 24px;
}
section.values .valfull .val-box .empty-box .line .dot {
  right: unset;
  left: -2px;
}
section.values .valfull .val-box .value {
  width: 45%;
}
section.values .valfull .val-box .value h3 {
  margin: 0 0 20px;
}
section.values .valfull .val-box .value p {
  margin: 0;
  font: 300 16px Anjoman;
  line-height: 26px;
}
section.values .valfull .val-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}
section.values .valfull .val-title .empty-box {
  position: relative;
  width: 15%;
}
section.values .valfull .val-title .empty-box .line.valuesFirstLine {
  width: 100%;
  top: 30px;
  left: 102%;
}
section.values .valfull .val-title .empty-box .line.valuesFirstLine .dot {
  right: unset;
  left: -2px;
}

section.projects .promain {
  height: 100%;
  margin: 0 auto;
}
section.projects .promain .pro-title {
  position: relative;
  padding: 90px 100px 42px 0;
  overflow: hidden;
}
section.projects .promain .pro-title h1 {
  color: #3D3D3D;
}
section.projects .promain .pro-title .line.projectsFirstLine {
  top: -85%;
  right: 75px;
  height: 129px;
}
section.projects .promain .pro-title .line.projectsFirstLine .dot {
  bottom: -2px;
}
section.projects .promain .pro-each {
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 64px 0;
}
section.projects .promain .pro-each .pro-right {
  position: relative;
  width: 30%;
}
section.projects .promain .pro-each .pro-right h3 {
  margin: 0 0 30px 0;
  color: #3D3D3D;
}
section.projects .promain .pro-each .pro-right p {
  margin: 0;
  font: 300 16px Anjoman;
  color: #3D3D3D;
}
section.projects .promain .pro-each .pro-right .dot {
  top: 20px;
  right: -20px;
}
section.projects .promain .pro-each .pro-left {
  position: relative;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.projects .promain .pro-each .pro-left .line {
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.projects .promain .pro-each .pro-left .line button {
  border: none;
  outline: none;
  cursor: pointer;
}
section.projects .promain .pro-each .pro-left .line button:first-child .dot {
  right: 0;
}
section.projects .promain .pro-each .pro-left .line button:last-child .dot {
  left: 0;
}
section.projects .promain .pro-each .pro-left .slider {
  position: absolute;
  overflow: hidden;
  border-radius: 8px;
}
section.projects .promain .pro-each .pro-left .slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.projects .promain .pro-each .pro-left .slider .slide img {
  height: 100%;
  aspect-ratio: 1.4/1;
}
section.projects .promain .pro-each .pro-left .slider1 {
  height: 100%;
  aspect-ratio: 1.4/1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
section.projects .promain .pro-each .pro-left .slider0,
section.projects .promain .pro-each .pro-left .slider2 {
  height: 80%;
  aspect-ratio: 1.4/1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
section.projects .promain .pro-each .pro-left .slider0 .slide img,
section.projects .promain .pro-each .pro-left .slider2 .slide img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
section.projects .promain .pro-each .pro-left .slider0 {
  left: 30px;
}
section.projects .promain .pro-each .pro-left .slider2 {
  right: 30px;
}
section.projects .promain .pro-each:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 -100px;
}
section.projects .promain .pro-each:last-child .pro-right {
  width: 55%;
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 130px;
  background-color: #3D3D3D;
}
section.about .empty-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
section.about .empty-box .line.aboutFirstLine {
  top: 35px;
  left: 100%;
  width: 100%;
}
section.about .empty-box .line.aboutFirstLine .dot {
  left: 0px;
}
section.about .aboutMain {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
section.about .aboutMain .ab-right {
  width: 55%;
}
section.about .aboutMain .ab-right h1,
section.about .aboutMain .ab-right p,
section.about .aboutMain .ab-right h3,
section.about .aboutMain .ab-right h6 {
  color: #E9E5D9;
}
section.about .aboutMain .ab-right h1 {
  margin: 0 0 38px;
}
section.about .aboutMain .ab-right p {
  margin: 0 0 20px;
  font: 300 16px Anjoman;
}
section.about .aboutMain .ab-right h3 {
  margin: 80px 0 20px;
}
section.about .aboutMain .ab-right .ab-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.about .aboutMain .ab-right .ab-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.about .aboutMain .ab-right .ab-contact div h6 {
  margin: 0;
  font: 300 16px Anjoman;
}
section.about .aboutMain .ab-right .ab-contact img {
  width: 34px;
  height: 34px;
  margin-right: 30px;
}
section.about .aboutMain .ab-left {
  width: 22%;
  color: #E9E5D9;
}
section.about .aboutMain .ab-left img {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  section.hero .herofull {
    bottom: -150px;
    height: 362px;
  }
  section.hero .herofull .heromain .hero-box {
    width: 493px;
  }
  section.hero .herofull .heromain .hero-box .hero-text {
    padding: 5px 77px 0 30px;
  }
  section.hero .herofull .heromain .hero-box .hero-text h1.maintitle {
    font-size: 74px;
  }
  section.hero .herofull .heromain .hero-box .hero-text span.subtitle {
    font-size: 27px;
  }
  section.hero .herofull .heromain .hero-box .hero-text .hero-p {
    font-size: 18px;
    margin: 14px 0 14px;
  }
  section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine {
    right: 50px;
  }
  section.approach {
    padding: 200px 0 50px;
  }
  section.approach .appfull {
    height: 337px;
    margin-bottom: 45px;
  }
  section.approach .appfull .appmain .app-text {
    padding: 0 75px 0 55px;
  }
  section.approach .appfull .appmain .app-text p {
    font-size: 14px;
  }
  section.approach .appfull.appfull:nth-child(odd) .lineTitre {
    width: calc(100% + 60px);
    top: 12px;
  }
  section.approach .appfull.appfull:nth-child(even) .lineRooyeAksDesk {
    width: calc(50% + 65px);
  }
  section.approach .appfull.appfull:nth-child(even) .app-text {
    margin-top: -15px;
  }
  section.values .valfull {
    padding-bottom: 55px;
  }
  section.values .valfull .val-box .empty-box .line {
    top: 15px;
    left: 15px;
  }
  section.values .valfull .val-box .value {
    width: 55%;
  }
  section.values .valfull .val-box .value h3 {
    margin: 0 0 15px;
  }
  section.values .valfull .val-title {
    padding: 60px 0;
  }
  section.values .valfull .val-title .empty-box .line.valuesFirstLine {
    top: 25px;
  }
  section.projects .promain .pro-title {
    padding: 65px 75px 30px 0;
  }
  section.projects .promain .pro-title .line.projectsFirstLine {
    right: 55px;
    height: 97px;
  }
  section.projects .promain .pro-each {
    height: 280px;
    margin: 0 0 20px 0;
  }
  section.projects .promain .pro-each .pro-right {
    width: 38%;
  }
  section.projects .promain .pro-each .pro-right h3 {
    margin: 0 0 15px 0;
  }
  section.projects .promain .pro-each .pro-right p {
    font-size: 14px;
  }
  section.projects .promain .pro-each .pro-right .dot {
    top: 10px;
  }
  section.projects .promain .pro-each .pro-left {
    width: 55%;
  }
  section.projects .promain .pro-each .pro-left .slider0 {
    left: 25px;
  }
  section.projects .promain .pro-each .pro-left .slider2 {
    right: 25px;
  }
  section.projects .promain .pro-each:last-child {
    margin: 0 0 -50px;
  }
  section.about {
    padding: 60px 0 96px;
  }
  section.about .empty-box .line.aboutFirstLine {
    top: 25px;
  }
  section.about .aboutMain {
    padding: 0 15px;
  }
  section.about .aboutMain .ab-right h1 {
    margin: 0 0 25px;
  }
  section.about .aboutMain .ab-right p {
    margin: 0 0 15px;
    font-size: 12px;
  }
  section.about .aboutMain .ab-right h3 {
    margin: 60px 0 15px;
  }
  section.about .aboutMain .ab-right .ab-contact div h6 {
    font-size: 12px;
  }
  section.about .aboutMain .ab-right .ab-contact img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1024px) {
  section.hero .herofull .line {
    width: 85%;
  }
  section.hero .herofull .line.heroFirstLine {
    -webkit-animation: unset;
            animation: unset;
    -webkit-animation: heroFirstLineTablet 1.5s;
            animation: heroFirstLineTablet 1.5s;
  }
  section.approach {
    padding: 200px 0 35px;
  }
  section.approach .appfull {
    height: unset;
  }
  section.approach .appfull .appmain {
    padding: 0 78px 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.approach .appfull .appmain .app-text,
  section.approach .appfull .appmain .app-pic {
    width: 100% !important;
  }
  section.approach .appfull .appmain .app-text {
    padding: 0 0 30px 0;
  }
  section.approach .appfull .appmain .app-text p {
    font-size: 14px;
  }
  section.approach .appfull .appmain .app-pic {
    position: relative;
    height: 30vw;
  }
  section.approach .appfull .appmain .app-pic img {
    width: 100%;
  }
  section.approach .appfull.appfull:nth-child(odd) .lineZireAks {
    width: 85%;
  }
  section.approach .appfull.appfull:nth-child(odd) .lineTitre {
    width: calc(100% + 55px);
    top: 12px;
  }
  section.approach .appfull.appfull:nth-child(even) .lineTitre {
    display: inline-block;
    width: calc(100% + 55px);
    top: 12px;
  }
  section.approach .appfull.appfull:nth-child(even) .lineRooyeAksDesk {
    display: none;
  }
  section.approach .appfull.appfull:nth-child(even) .lineRooyeAksMob {
    display: inline-block;
    width: calc(100% + 500px);
    top: 0;
    right: -400px;
    z-index: 50;
  }
  section.approach .appfull.appfull:nth-child(even) .lineRooyeAksMob .dot {
    left: -2px;
  }
  section.approach .appfull.appfull:nth-child(even) .app-text {
    margin-top: 0;
  }
  section.projects .promain .pro-title {
    padding: 53px 30px 28px 0;
  }
  section.projects .promain .pro-title .line.projectsFirstLine {
    top: 0;
    right: 8px;
    height: 85px;
  }
  section.projects .promain .pro-each {
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 80px 0;
  }
  section.projects .promain .pro-each .pro-right {
    width: 80%;
    margin: 0 auto;
  }
  section.projects .promain .pro-each .pro-left {
    width: 100%;
    height: 37vw;
    margin-top: 30px;
  }
  section.projects .promain .pro-each .pro-left .pro-pic {
    height: 100%;
  }
  section.projects .promain .pro-each .pro-left .line {
    display: none;
  }
  section.projects .promain .pro-each .pro-left .temp-back {
    width: 100%;
  }
  section.projects .promain .pro-each:last-child {
    margin: 0 0 100px 0;
  }
  section.projects .promain .pro-each:last-child .pro-right {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  section.hero {
    height: 100%;
  }
  section.hero .herofull {
    bottom: -185px;
    height: 310px;
  }
  section.hero .herofull .line {
    left: 15%;
    width: 85%;
  }
  section.hero .herofull .line.heroFirstLine {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box {
    width: 240px;
    height: 100%;
  }
  section.hero .herofull .heromain .hero-box.heroBox {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box .hero-text {
    padding: 0 34px 0 30px;
    overflow: visible;
  }
  section.hero .herofull .heromain .hero-box .hero-text h1.maintitle {
    opacity: 1;
    font-size: 60px;
  }
  section.hero .herofull .heromain .hero-box .hero-text h1.maintitle.heroMainTitle {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box .hero-text span.subtitle {
    opacity: 1;
    font-size: 22px;
  }
  section.hero .herofull .heromain .hero-box .hero-text span.subtitle.heroSubTitle {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box .hero-text p.hero-p {
    opacity: 1;
    width: 150%;
    font-size: 12px;
    margin: 22px 0 60px;
  }
  section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine {
    top: 0;
    right: 13px;
    height: 98%;
  }
  section.approach {
    padding: 225px 0 35px;
  }
  section.approach .appfull .appmain {
    padding: 0 35px 0 20px;
  }
  section.approach .appfull .appmain .app-text p {
    font-size: 12px;
  }
  section.approach .appfull .appmain .app-pic {
    height: 50vw;
  }
  section.approach .appfull.appfull:nth-child(odd) .lineZireAks {
    width: 93%;
  }
  section.approach .appfull.appfull:nth-child(odd) .lineTitre {
    width: calc(100% + 18px);
  }
  section.approach .appfull.appfull:nth-child(even) .lineTitre {
    width: calc(100% + 18px);
  }
  section.approach .appfull.appfull:nth-child(even) .lineRooyeAksMob {
    width: calc(100% + 240px);
    right: -200px;
  }
  section.values .valfull .val-box .empty-box {
    width: 20% !important;
  }
  section.values .valfull .val-box .empty-box .line {
    top: 14px;
    left: 12px;
  }
  section.values .valfull .val-box .value {
    width: 65%;
  }
  section.values .valfull .val-box .value h3 {
    margin: 0 0 10px;
  }
  section.values .valfull .val-box .value p {
    font-size: 12px;
    line-height: 20px;
  }
  section.values .valfull .val-title {
    padding: 35px 0;
  }
  section.values .valfull .val-title .empty-box {
    width: 10%;
  }
  section.values .valfull .val-title .empty-box .line.valuesFirstLine {
    top: 15px;
    left: 10px;
  }
  section.projects .promain .pro-title {
    padding: 65px 20px 28px 0;
  }
  section.projects .promain .pro-each {
    margin: 0 0 60px 0;
  }
  section.projects .promain .pro-each .pro-left {
    height: 45vw;
  }
  section.projects .promain .pro-each:last-child {
    margin: 0 0 60px 0;
  }
  section.about {
    padding: 44px 0 50px;
  }
  section.about .empty-box .line.aboutFirstLine {
    top: 15px;
    left: 1px !important;
  }
  section.about .aboutMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.about .aboutMain .ab-right {
    width: 100%;
    margin-bottom: 128px;
  }
  section.about .aboutMain .ab-right h3 {
    margin: 30px 0 10px;
  }
  section.about .aboutMain .ab-right .ab-contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section.about .aboutMain .ab-left {
    width: 35%;
  }
}