{% load static %}
<div class="container text-center my-5">
    <div class="row my-2">
        <div class="col">
            <a href="{% static 'assets/img/Poster_large.jpg' %}" target="_blank">
                <img src="{% static 'assets/img/Poster_resize.jpg' %}" alt="poster" width="auto" height="400px">
            </a>
        </div>    
    </div>
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">ایده‌پرداز و مدیر پروژه</span>
        </h4>
        <div class="col">
            سعید انوری‌نژاد
        </div>
    </div>
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                کیوریتور
            </span>
        </h4>
        <div class="col">
            بویه سادات‌نیا
        </div>
    </div>
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                مدیر هنری
            </span>
        </h4>
        <div class="col">
            جمیله میرزااسکندری
        </div>
    </div>
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                مهندسی خلاق
            </span>
        </h4>
        <div class="col">
            سامان برهان
        </div>
    </div>
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                ساندآرتیست
            </span>
        </h4>
        <div class="col">
            مهدی بهبودی
        </div>
    </div>
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                مشاور
            </span>
        </h4>
        <div class="col">
            محمدرضا شرایلی
        </div>
    </div>

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                ایده‌پردازی و طراحی
            </span>
        </h4>
        <div class="col">
            سعید انوری‌نژاد |
            بویه سادات‌نیا |
            جمیله میرزااسکندری |
            سامان برهان |
            مهدی بهبودی |
            هادی حاجی‌بیگلو
        </div>
    </div>

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                ساخت و اجرا
            </span>
        </h4>
        <div class="col">
            سامان برهان
            جمیله میرزااسکندری
            بابک جوانمرد
            نغمه محمدی فکورزاده
            ادرینا شرایلی
            علی فخرایی
        </div>
    </div>

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                محتوا
            </span>
        </h4>
        <div class="col">
            سعید انوری‌نژاد
            پروا پویان
            هادی حاجی‌بیگلو
            سمیرا رضایی
            عرفان خورسند
        </div>
    </div>

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                آرشیو
            </span>
        </h4>
        <div class="col">
            محمدرضا شرایلی |
            مهدی بهبودی
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                هویت بصری
            </span>
        </h4>
        <div class="col">
            استودیو مشق |
            حامد حکیمی |
            مسعود جزنی
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                عکس و ویدیو
            </span>
        </h4>
        <div class="col">
            علی آبیار |
            هادی آقایی
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                زیرساخت فنی
            </span>
        </h4>
        <div class="col">
            سامان برهان |
            رحیم اقارب‌پرست
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                مارکتینگ
            </span>
        </h4>
        <div class="col">
            اتابک آکسون
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                تیم دسترسی‌پذیری
            </span>
        </h4>
        <div class="col">
            سهند سلیمان‌فلاح |
            امید هاشمی |
            شهاب الماسی
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                نورپرداز
            </span>
        </h4>
        <div class="col">
            مصطفی قاهری
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                مستند ساختمان کارستان
            </span>
        </h4>
        <div class="col">
            محمد مقدم |
            محسن کیهان‌پور |
            مهیار جاویدی |
            علیرضا احمدی |
            کاوه لطفی‌زاده |
            نازلی ملکی
        </div>
    </div>
   

    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                همراهان از تیم دیوار
            </span>
        </h4>
        <div class="col">
            حسام آرمندهی |
            اشکان آرمندهی |
            علی رسولی |
            صدرا محقق |
            محمدرضا کشاورزی |
            فروغ صادقی |
            مهران عربی
        </div>
    </div>
   
    <div class="row my-2">
        <h4 class="h4">
            <span class="mid-title">
                با تشکر ویژه از
            </span>
        </h4>
        <div class="col">
            الهام رضوی |
            امیر بهاری |
            محمد روزبهانی |
            رضا جمشیدون |
            نیما خالدی‌کیا |
            سبحان قالیباف |
            پریسا پولادیان |
            نادر ساسانی |
            شرکت نسبی صفدر ساسانی و شرکا |
            نیوشا امیری |
            تیم یونیت‌ایکس
        </div>
    </div>

    
</div>