{% extends "_base_simple.html" %}

{% block title %}{{ page_title }}{% endblock title %}
{% block head %}
  <style>
    .mid-title {
        border-bottom: solid 2px #901f21;        
    }
  </style>
{% endblock head %}
{% block content %}
<div class="container text-center my-3">
    <div class="row">
        {% if video.fa_name %}
        <h1 class="h1 mid-title">{{ video.fa_name }}</h1>
        {% endif %}
    </div>
    <div class="row my-3">
        {% if video.description %}
        <p>{{ video.description | safe | linebreaksbr }}</p>
        {% endif %}
    </div>
    <div class="row">
        {% if video.video_present %}      
        <video width="100%" height="auto"  controls loop muted autoplay preload="auto">
            <source src="{{ video.video_present.url }}" type="video/mp4" id="video-main">
            not supported
        </video>
        {% endif %}     
    </div>
    {% include "videos/_videos_footer.html" %}
</div>
{% endblock content %}  

