* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font: 600 38px Anjoman;
}

h3 {
    font: 600 28px Anjoman;
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: $light;
}

main {
    width: $wfull;
    // background-color: yellow;
}

.wfull {
    width: $wfull;
    // background-color: rgba($color: rgb(4, 0, 248), $alpha: 0.3);
}

.wmain {
    width: $wmain;
    height: 100%;
    // background-color: rgba($color: red, $alpha: 0.3);
}





// ------------------------------ //
.line,
.line2 {
    position: absolute;

    &.h-line {
        border-top: 2px solid;
    }

    &.v-line {
        border-left: 2px solid;
    }

    &.o-line {
        border-color: $orange;
    }

    &.l-line {
        border-color: $light;
    }

    &.d-line {
        border-color: #444444;
    }
}

.dot {
    position: absolute;
    border-radius: 50%;

    &.o-dot {
        background-color: $orange;
    }

    &.l-dot {
        background-color: $light;
    }

    &.d-dot {
        background-color: $dark;
    }
}





@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }
}