@import 'fonts';

// SIZEs
$wfull: 100%;
$w-desk: 1274px !important; // > 1440
$w-lap: 906px !important; // 1440 > 1024
$w-tab: 592px !important; // 1024 > 768
$w-mob: 80% !important; // 768 >

$wmob: 100% !important;

// COLORs
$dark: #3D3D3D;
$light: #E9E5D9;
$orange: #E87C12;

// MIXINs
@mixin ccbg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}