@import 'fonts';

// SIZEs
$wfull: 100%;
$wmain: 1273px !important;

// COLORs
$dark: #3D3D3D;
$light: #E9E5D9;
$orange: #E87C12;

// MIXINs
@mixin ccbg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}