@import "vars";
@import "comm";
@import "animate";

section {
    position: relative;
    padding: 0;
}

section.hero,
section.approach {
    color: $dark;
}

section.hero {
    min-height: 100vh;
    background: url('images/hero.jpg') no-repeat;
    @include ccbg;

    .herofull {
        position: absolute;
        bottom: -212px;
        height: 498px;

        .line {
            top: 0px;
            width: 70%;

            .dot {
                top: -11px;
                left: -2px;
                width: 20px;
                height: 20px;
            }

            &.heroFirstLine {
                animation: heroFirstLine 1.5s;
            }
        }

        .heromain {
            width: $wmain;
            height: 100%;
            margin: 0 auto;
            // background-color: aqua;

            .hero-box {
                height: 0;
                width: 666px;
                background-color: $light;

                &.heroBox {
                    animation: heroBox 2.5s 1.5s;
                }

                .hero-text {
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 5px 104px 0 42px;
                    overflow: hidden;

                    h1.maintitle {
                        opacity: 0;
                        font-size: 100px;

                        &.heroMainTitle {
                            animation: heroMainTitle 1s linear 2.5s;
                        }
                    }

                    span.subtitle {
                        opacity: 0;
                        font: 200 37px Anjoman;

                        &.heroSubTitle {
                            animation: heroSubTitle 1s linear 3.2s;
                        }
                    }

                    .hero-p {
                        opacity: 0;
                        font: 400 23px Anjoman;
                        margin: 122px 0 22px;
                    }

                    .line.heroSecondLine {
                        top: -30px;
                        left: unset;
                        right: 70px;
                        width: unset;
                        height: 0;

                        .dot {
                            top: unset;
                            bottom: -2px;
                            left: -11px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

section.approach {
    margin: 212px 0 0;
    padding: 64px 0;

    .appfull {
        position: relative;
        height: 455px;
        margin-bottom: 66px;

        .appmain {
            width: $wmain;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            // background-color: brown;

            .app-text,
            .app-pic {
                width: 49%;
            }

            .app-text {
                position: relative;
                padding: 0 104px 0 80px;
                // background-color: yellow;

                p {
                    font: 400 16px Anjoman;
                    ;
                }
            }

            .app-pic {
                background-color: green;
                @include ccbg;

                img {
                    width: 600px;
                }
            }
        }

        .line2 {
            width: calc((100vw - 1120px)/2);
            top: 22px;
            right: 0;

            .dot {
                top: -11px;
                left: -2px;
                width: 20px;
                height: 20px;
            }
        }

        &.appfull:nth-child(odd) {
            .line {
                width: 56%;
                bottom: 0;
                left: 0;

                .dot {
                    top: -11px;
                    right: -2px;
                    width: 20px;
                    height: 20px;
                }
            }

            .app-pic {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }

        &.appfull:nth-child(even) {
            direction: ltr;

            .line {
                width: 56%;
                top: 0;
                right: 0;

                .dot {
                    top: -11px;
                    left: -2px;
                    width: 20px;
                    height: 20px;
                }
            }

            .line2 {
                display: none;
            }

            .app-text {
                direction: rtl;
                margin-top: -25px;
            }

            .app-pic {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}

section.values {
    background: url('images/values.jpg') no-repeat;
    background-size: cover;
    background-position: center center;

    .valfull {
        position: relative;
        min-height: 100vh;
        background-color: rgba($color: $dark, $alpha: 0.9);
        color: $light;
        padding-bottom: 115px;

        .line {
            width: 50%;
            top: -1px;
            left: 0;

            .dot {
                top: -10px;
                right: -2px;
                width: 20px;
                height: 20px;
            }
        }

        .val-box {
            display: flex;
            margin-bottom: 30px;
            color: $light;

            &:nth-child(odd) {
                padding-left: 384px;

                .empty-box {
                    width: 597px;
                }
            }

            &:nth-child(even) {
                padding-left: 604px;

                .empty-box {
                    width: 390px;
                }
            }

            .empty-box {
                position: relative;

                .line {
                    width: 100%;
                    top: 24px;
                    left: 24px;

                    .dot {
                        top: -6px;
                        right: unset;
                        left: -2px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .value {
                width: 50%;

                h3 {
                    margin: 0 0 20px;
                }

                p {
                    margin: 0;
                    font: 300 16px Anjoman;
                    ;
                    line-height: 26px;
                }
            }
        }

        .val-title {
            display: flex;
            padding: 76px 0 85px;

            .empty-box {
                position: relative;
                width: 323px;

                .line.valuesFirstLine {
                    width: 100%;
                    top: 30px;
                    left: 105%;

                    .dot {
                        top: -10px;
                        right: unset;
                        left: -2px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }

        }
    }
}

section.projects {
    .promain {
        width: $wmain;
        height: 100%;
        margin: 0 auto;

        .pro-title {
            position: relative;
            padding: 90px 100px 42px 0;
            overflow: hidden;
            // background-color: aqua;

            h1 {
                color: $dark;
            }

            .line.projectsFirstLine {
                top: -85%;
                right: 75px;
                height: 129px;

                .dot {
                    bottom: -2px;
                    left: -11px;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .pro-each {
            height: 388px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 64px 0;

            .pro-right {
                position: relative;
                width: 392px;
                margin-left: 88px;

                h3 {
                    margin: 0 0 30px 0;
                    color: $dark;
                }

                p {
                    margin: 0;
                    font: 300 16px Anjoman;
                    ;
                    color: $dark;
                }

                .dot {
                    top: 20px;
                    right: -20px;
                    width: 10px;
                    height: 10px;
                }
            }

            .pro-left {
                position: relative;
                width: 773px;
                display: flex;
                justify-content: center;
                align-items: center;

                .pro-pic {
                    width: 525px;
                    height: 388px;
                    border-radius: 10px;
                    background-color: aquamarine;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    z-index: 10;
                }

                .line {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    z-index: 2;

                    .dot {
                        top: -9px;
                        width: 18px;
                        height: 18px;

                        &:first-child {
                            right: 0;
                        }

                        &:last-child {
                            left: 0;
                        }
                    }
                }

                .temp-back {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 713px;
                    height: 331px;
                    border-radius: 10px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;

                    .temp-over {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-color: rgba($color: #444444, $alpha: 0.8);
                    }
                }
            }

            &:last-child {
                height: 317px;
                align-items: flex-start;
                margin: 0;

                .pro-right {
                    width: 600px;
                }
            }
        }
    }
}

section.about {
    display: flex;
    padding: 82px 0 130px;
    background-color: $dark;

    .empty-box {
        flex-grow: 1;
        position: relative;

        .line.aboutFirstLine {
            top: 33px;
            left: 100%;
            width: 100%;

            .dot {
                top: -10px;
                left: -1px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .aboutMain {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // background-color: antiquewhite;

        .ab-right {
            width: 704px;

            h1 {
                margin: 0 0 30px;
                color: $light;
            }

            p {
                font: 300 16px Anjoman;
                ;
                color: $light;
                margin: 0 0 20px;
            }

            h3 {
                margin: 80px 0 20px;
                color: $light;
            }

            .ab-contact {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                div {
                    display: flex;
                    flex-direction: column;

                    h6 {
                        margin: 0;
                        font: 300 16px Anjoman;
                        color: $light;
                    }
                }

                img {
                    width: 34px;
                    height: 34px;
                    margin-right: 30px;
                }
            }
        }

        .ab-left {
            color: $light;

            img {
                width: 285px;
                height: 95px;
            }
        }
    }
}






@media screen and (max-width: 768px) {
    section.hero {
        height: 100%;

        .herofull {
            bottom: -185px;
            height: 310px;

            .line {
                left: 15%;
                width: 85%;

                .dot {
                    top: -6px;
                    width: 10px;
                    height: 10px;
                }

                &.heroFirstLine {
                    animation: unset;
                }
            }

            .heromain {
                width: calc(100vw - 32px) !important;

                .hero-box {
                    height: 100%;
                    width: 240px;

                    &.heroBox {
                        animation: unset;
                    }

                    .hero-text {
                        overflow: visible;
                        padding: 0 34px 0 30px;

                        h1.maintitle {
                            opacity: 1;
                            font-size: 60px;

                            &.heroMainTitle {
                                animation: unset;
                            }
                        }

                        span.subtitle {
                            opacity: 1;
                            font-size: 22px;

                            &.heroSubTitle {
                                animation: unset;
                            }
                        }

                        p.hero-p {
                            opacity: 1;
                            width: 150%;
                            font-size: 12px;
                            margin: 22px 0 60px;
                        }

                        .line.heroSecondLine {
                            top: 0;
                            right: 13px;
                            height: 98%;

                            .dot {
                                left: -6px;
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    section.approach {
        margin: 190px 0 0;
        padding: 35px 0 0;

        .appfull {
            height: unset;
            margin-bottom: 60px;

            .appmain {
                width: $wmob;
                min-height: 100%;
                flex-direction: column;
                // justify-content: flex-start;
                align-items: center;

                .app-text,
                .app-pic {
                    width: 265px !important;
                }

                .app-text {
                    position: relative;
                    padding: 0 0 30px 0;

                    p {
                        font-size: 12px;
                    }
                }

                .app-pic {
                    height: 222px;

                    img {
                        width: 300px;
                    }
                }
            }

            .line2 {
                width: 33px !important;
                top: 12px;

                .dot {
                    top: -6px;
                    left: -2px;
                    width: 10px;
                    height: 10px;
                }
            }

            &.appfull:nth-child(odd) {
                .line {
                    width: 94%;

                    .dot {
                        top: -6px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            &.appfull:nth-child(even) {
                direction: rtl;

                .line {
                    width: 94%;
                    top: unset;
                    bottom: 222px;

                    .dot {
                        top: -6px;
                        width: 10px;
                        height: 10px;
                    }
                }

                .line2 {
                    display: inline-block;
                }

                .app-text {
                    margin-top: 0;
                }

            }
        }
    }

    section.values {
        .valfull {
            padding-bottom: 63px;

            .line {
                .dot {
                    top: -6px;
                    width: 10px;
                    height: 10px;
                }
            }

            .val-box {

                &:nth-child(odd),
                &:nth-child(even) {
                    padding-left: 48px;

                    .empty-box {
                        width: 91px;
                    }
                }

                .empty-box {
                    .line {
                        width: 100%;
                        top: 12px;
                        left: 10px;
                    }
                }

                .value {
                    width: 100%;

                    h3 {
                        margin: 0 0 10px;
                    }

                    p {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }

            .val-title {
                padding: 38px 0 30px;

                .empty-box {
                    width: 47px;

                    .line.valuesFirstLine {
                        width: 100%;
                        top: 15px;
                        left: 10px;

                        .dot {
                            top: -6px;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }

            }
        }
    }

    section.projects {
        .promain {
            width: $wmob;
            margin: 0 auto;

            .pro-title {
                padding: 68px 40px 28px 0;

                .line.projectsFirstLine {
                    top: 0;
                    right: 20px;
                    height: 88px;

                    .dot {
                        bottom: -2px;
                        left: -6px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .pro-each {
                height: unset;
                min-height: 50px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 0 0 60px 0;
                padding: 0 16px;

                .pro-right {
                    width: 250px;
                    margin: 0 auto;

                    h3 {
                        margin: 0 0 15px 0;
                    }

                    p {
                        font-size: 12pxn;
                    }

                    .dot {
                        top: 10px;
                    }
                }

                .pro-left {
                    width: 100%;
                    margin-top: 30px;

                    .pro-pic {
                        width: 265px;
                        height: 194px;
                    }

                    .line {
                        display: none;
                    }

                    .temp-back {
                        width: 100%;
                        height: 165px;

                        .temp-over {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            background-color: rgba($color: #444444, $alpha: 0.8);
                        }
                    }
                }

                &:last-child {
                    height: unset;
                    align-items: flex-start;
                    margin: 0 0 60px 0;

                    .pro-right {
                        width: 250px;
                    }
                }
            }
        }
    }

    section.about {
        padding: 48px 0;

        .empty-box {
            .line.aboutFirstLine {
                top: 15px;
                left: 15px;

                .dot {
                    top: -6px;
                    left: -2px;
                    width: 10px;
                    height: 10px;
                }
            }
        }

        .aboutMain {
            width: 265px !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .ab-right {
                width: 100%;
                margin-bottom: 128px;

                h1 {
                    margin: 0 0 30px;
                }

                p {
                    font-size: 12px;
                    margin: 0 0 12px;
                }

                h3 {
                    margin: 30px 0 10px;
                }

                .ab-contact {
                    justify-content: space-between;
                    align-items: flex-end;

                    div {
                        h6 {
                            margin: 0 10px 0 0;
                            font-size: 12px;
                        }
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .ab-left {
                img {
                    width: 143px;
                    height: 48px;
                }
            }
        }
    }
}