@import "vars";
@import "comm";
@import "animate";

section.hero,
section.approach {
    color: $dark;
}

section.hero {
    min-height: 100vh;
    background: url('images/hero.jpg');
    @include ccbg;

    .herofull {
        position: absolute;
        bottom: -212px;
        height: 498px;

        .line {
            top: 0px;
            width: 70%;

            .dot {
                left: -2px;
            }

            &.heroFirstLine {
                animation: heroFirstLine 1.5s;
            }
        }

        .heromain {
            height: 100%;
            margin: 0 auto;

            .hero-box {
                height: 0;
                width: 666px;
                background-color: $light;

                &.heroBox {
                    animation: heroBox 2.5s 1.5s;
                }

                .hero-text {
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 5px 104px 0 42px;
                    overflow: hidden;

                    h1.maintitle {
                        opacity: 0;
                        font-size: 100px;

                        &.heroMainTitle {
                            animation: heroMainTitle 1s linear 2.5s;
                        }
                    }

                    span.subtitle {
                        opacity: 0;
                        font: 200 37px Anjoman;

                        &.heroSubTitle {
                            animation: heroSubTitle 1s linear 3.2s;
                        }
                    }

                    .hero-p {
                        opacity: 0;
                        font: 400 23px Anjoman;
                        margin: 122px 0 22px;
                    }

                    .line.heroSecondLine {
                        top: -30px;
                        left: unset;
                        right: 70px;
                        width: unset;
                        height: 0;

                        .dot {
                            top: unset;
                            bottom: -2px;
                        }
                    }
                }
            }
        }
    }
}

section.approach {
    padding: 275px 0 64px;

    .appfull {
        position: relative;
        height: 455px;
        margin-bottom: 65px;
        display: flex;
        justify-content: space-between;

        .emptybox {
            position: relative;
            flex-grow: 1;
            // background-color: rgba($color: blue, $alpha: 0.3);
        }

        .appmain {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            .app-text,
            .app-pic {
                width: calc(50% - 10px);
            }

            .app-text {
                position: relative;
                padding: 0 104px 0 80px;

                p {
                    font: 400 16px Anjoman;
                }
            }

            .app-pic {

                @include ccbg;

                img {
                    width: 100%;
                }
            }
        }

        &.appfull:nth-child(odd) {
            .lineZireAks {
                width: calc(50% + 90px);
                bottom: 0;
                left: 0;
                z-index: 50;

                .dot {
                    right: -2px;
                }
            }

            .lineTitre {
                width: calc(100% + 80px);
                top: 22px;
                right: 0;

                .dot {
                    left: -2px;
                }
            }

            .app-pic {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }

        &.appfull:nth-child(even) {
            direction: ltr;

            .lineTitre {
                display: none;
                // width: calc(100% + 80px);
                // top: 22px;
                right: 0;

                .dot {
                    left: -2px;
                }
            }

            .lineRooyeAksDesk {
                width: calc(50% + 90px);
                top: 0;
                right: 0;
                z-index: 50;

                .dot {
                    left: -2px;
                }
            }

            .lineRooyeAksMob {
                display: none;
            }

            .app-text {
                direction: rtl;
                margin-top: -25px;
            }

            .app-pic {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}

section.values {
    background: url('images/values.jpg');
    @include ccbg;

    .valfull {
        position: relative;
        // min-height: 100vh;
        background-color: rgba($color: $dark, $alpha: 0.9);
        color: $light;
        padding-bottom: 85px;

        .line {
            width: 50%;
            top: -1px;
            left: 0;

            .dot {
                right: -2px;
            }
        }

        .val-box {
            display: flex;
            margin-bottom: 30px;
            color: $light;

            &:nth-child(odd) {
                .empty-box {
                    width: 30%;
                }
            }

            &:nth-child(even) {
                .empty-box {
                    width: 20%;
                }
            }

            .empty-box {
                position: relative;

                .line {
                    width: 100%;
                    top: 24px;
                    left: 24px;

                    .dot {
                        right: unset;
                        left: -2px;
                    }
                }
            }

            .value {
                width: 45%;

                h3 {
                    margin: 0 0 20px;
                }

                p {
                    margin: 0;
                    font: 300 16px Anjoman;
                    ;
                    line-height: 26px;
                }
            }
        }

        .val-title {
            display: flex;
            padding: 80px 0;

            .empty-box {
                position: relative;
                width: 15%;

                .line.valuesFirstLine {
                    width: 100%;
                    top: 30px;
                    left: 102%;

                    .dot {
                        right: unset;
                        left: -2px;
                    }
                }
            }

        }
    }
}

section.projects {
    .promain {
        height: 100%;
        margin: 0 auto;

        .pro-title {
            position: relative;
            padding: 90px 100px 42px 0;
            overflow: hidden;

            h1 {
                color: $dark;
            }

            .line.projectsFirstLine {
                top: -85%;
                right: 75px;
                height: 129px;

                .dot {
                    bottom: -2px;
                }
            }
        }

        .pro-each {
            height: 390px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 64px 0;
            // background-color: rgba($color: green, $alpha: .4);

            .pro-right {
                position: relative;
                width: 30%;
                // background-color: rgba($color: red, $alpha: 0.3);

                h3 {
                    margin: 0 0 30px 0;
                    color: $dark;
                }

                p {
                    margin: 0;
                    font: 300 16px Anjoman;
                    color: $dark;
                }

                .dot {
                    top: 20px;
                    right: -20px;
                }
            }

            .pro-left {
                position: relative;
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;

                .line {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    z-index: 2;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: space-between;

                    button {
                        border: none;
                        outline: none;
                        cursor: pointer;

                        .dot {
                            background-color: $dark;
                            transition: 0.3s;

                            &:hover {
                                background-color: #7a7979;
                            }
                        }

                        &:first-child .dot {
                            right: 0;
                        }

                        &:last-child .dot {
                            left: 0;
                        }
                    }
                }

                .slider-a,
                .slider-b,
                .slider-c {
                    position: absolute;
                    overflow: hidden;
                    border-radius: 8px;

                    .slide {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            height: 100%;
                            aspect-ratio: 1.4 / 1;
                        }
                    }
                }

                .slider1 {
                    height: 100%;
                    aspect-ratio: 1.4 / 1;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 10;
                }

                .slider0,
                .slider2 {
                    height: 80%;
                    aspect-ratio: 1.4 / 1;
                    top: 50%;
                    transform: translateY(-50%);

                    .slide img {
                        filter: brightness(40%);
                    }
                }

                .slider0 {
                    left: 30px;
                }

                .slider2 {
                    right: 30px;
                }

                // .pro-pic {
                //     height: 100%;
                //     aspect-ratio: 1.4 / 1;
                //     border-radius: 10px;
                //     background-color: aquamarine;
                //     background-repeat: no-repeat;
                //     background-size: cover;
                //     background-position: center center;
                //     z-index: 10;
                // }
                // .temp-back {
                //     position: absolute;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%, -50%);
                //     width: 90%;
                //     aspect-ratio: 2.2 / 1;
                //     border-radius: 10px;
                //     background-repeat: no-repeat;
                //     background-size: cover;
                //     background-position: center center;

                //     .temp-over {
                //         width: 100%;
                //         height: 100%;
                //         border-radius: 10px;
                //         background-color: rgba($color: #444444, $alpha: 0.8);
                //     }
                // }
            }

            &:last-child {
                align-items: flex-start;
                margin: 0 0 -100px;

                .pro-right {
                    width: 55%;
                }
            }
        }
    }
}

section.about {
    display: flex;
    padding: 80px 0 130px;
    background-color: $dark;

    .empty-box {
        flex-grow: 1;
        position: relative;

        .line.aboutFirstLine {
            top: 35px;
            left: 100%;
            width: 100%;

            .dot {
                left: 0px;
            }
        }
    }

    .aboutMain {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // background-color: green;

        .ab-right {
            width: 55%;

            h1,
            p,
            h3,
            h6 {
                color: $light;
            }

            h1 {
                margin: 0 0 38px;
            }

            p {
                margin: 0 0 20px;
                font: 300 16px Anjoman;
            }

            h3 {
                margin: 80px 0 20px;
            }

            .ab-contact {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                div {
                    display: flex;
                    flex-direction: column;

                    h6 {
                        margin: 0;
                        font: 300 16px Anjoman;
                    }
                }

                img {
                    width: 34px;
                    height: 34px;
                    margin-right: 30px;
                }
            }
        }

        .ab-left {
            width: 22%;
            color: $light;

            img {
                width: 100%;
            }
        }
    }
}


@import "laptop";
@import "tablet";
@import "mobile";
// @import "swipper";