{% extends "_base.html" %}
{% load static %}

{% block content %}
<section id="top">
  <h1>The Else in the Experience</h1>
  <p>
    Every visit deserves a story, every detail deserves attention,
    and every experience should be extraordinary.
  </p>
  <button>Scroll Down</button>
</section>

<section id="about">
  <h1>Distinct by Design</h1>
  <p>
    At Haniz Studio, we pioneer a new era of visitor-centered design, where museums, exhibitions, corporate spaces, 
    and any human-centric environment are transformed into interactive journeys that inspire and educate. 
    By constantly imagining the else that could be achieved, we aim to lead the development of spaces that 
    offer visitors unique, memorable experiences, leaving a lasting impact.
  </p>
</section>

<section class="list">
  <div>
    <i class="fas fa-circle"></i>
    <p>
      <span>Tailored for the audience: </span>
      every project is designed with visitors' perspectives at its core.
    </p>
  </div>
  <div>
    <i class="fas fa-circle"></i>
    <p>
      <span>Our approach starts with "the Else": </span>
      Our solutions prioritize visitor interaction and creativity, 
      transforming traditional spaces into dynamic, engaging experiences
    </p>
  </div>
  <div>
    <i class="fas fa-circle"></i>
    <p>
      <span>End-to-end expertise: </span>
      from concept to execution, we handle every detail seamlessly.
    </p>
  </div>
  <div>
    <i class="fas fa-circle"></i>
    <p>
      <span>Proven impact: </span>
      our work creates memorable connections and lasting impressions.
    </p>
  </div>
</section>

<section id="team" class="team">
  <div class="team-left">
    <h1>Meet the team<br>Behind the Else</h1>
    <p>
      Haniz Studio is a collective of specialists. From interior designers 
      and storytellers to branding managers and engineers, 
      each bringing their expertise to craft immersive, captivating visit experiences.
    </p>
  </div>
  <div class="team-right">
    <img src="" alt="">
  </div>
</section>

<section id="projects">
  <div class="projects-top">
    <h1>Our Projects: Crafting the Else in Action</h1>
    <p>
      Haniz Studio’s work transforms spaces and ideas into unique visit experiences. Each project 
      reflects our commitment to storytelling, innovation, and the art of the Else:
    </p>
  </div>
  <div class="projects-down">
    <div class="project-box">
      <div class="pb-left">
        <div>
          <h2>Iran Computer Museum</h2>
          <p>
            This flagship project goes beyond showcasing old tech. 
            We created an interactive space where visitors engage with exhibits, 
            experiencing the history of technology firsthand through hands-on interaction 
            and immersion rather than static displays.
          </p>
        </div>
        <a href="#">see More</a>
      </div>
      <div class="pb-right" style="background-image: url('{% static 'temp/a.jpg' %}');"></div>
    </div>
    <div class="project-box">
      <div class="pb-left">
        <div>
          <h2>Halq; An Experience of the Sound</h2>
          <p>
            For a branding initiative, we designed an interactive sound art exhibition 
            where visitors could explore and play sound stations, offering a dynamic 
            and distinct way to learn about the history of sound in Iran.
          </p>
        </div>
        <a href="#">see More</a>
      </div>
      <div class="pb-right" style="background-image: url('{% static 'temp/a.jpg' %}');"></div>
    </div>
    <div class="project-box">
      <div class="pb-left">
        <div>
          <h2>Boom Restoration (Heritage Sailing Wooden Ship)</h2>
          <p>
            We redesigned and restored a historic sailing ship to preserve Iran’s maritime heritage. 
            This transformation turned a world heritage asset into a unique tourism attraction, 
            providing visitors with an immersive maritime experience.
          </p>
        </div>
        <a href="#">see More</a>
      </div>
      <div class="pb-right" style="background-image: url('{% static 'temp/a.jpg' %}');"></div>
    </div>
    <div class="project-box">
      <div class="pb-left">
        <div>
          <h2>Corporate Signage Project</h2>
          <p>
            We addressed navigation inefficiencies in a corporate environment by creating a functional, 
            visitor-focused signage system. This improved employee experience 
            and streamlined navigation within the company.
          </p>
        </div>
        <a href="#">see More</a>
      </div>
      <div class="pb-right" style="background-image: url('{% static 'temp/a.jpg' %}');"></div>
    </div>
  </div>
</section>

<section class="lets">
  <div>
    <h1>Let’s Redefine Your Visit</h1>
    <a href="#">Let’s Create Together</a>
  </div>
</section>
{% endblock content %}
