{% extends "_base.html" %}
{% load static %}

{% block content %}
<section class="hero">
	<div class="wfull herofull">
		<div class="line h-line l-line" id="heroFirstLine">
			<div class="dot o-dot"></div>
		</div>

		<div class="heromain">
			<div class="hero-box" id="heroBox">
				<div class="hero-text">
					<div class="line v-line d-line heroSecondLine">
						<div class="dot o-dot"></div>
					</div>

					<div>
						<h1 class="maintitle" id="heroMainTitle">هَنــیــز</h1>
						<span class="subtitle" id="heroSubTitle">استودیو طراحی تجربه</span>
						<p class="hero-p">
							ماموریت ما در هَنیز، ایده‌پردازی و طراحی روایت‌هایی است که به تجربه‌ای روشن، قابل
							لمس و
							ماندگار برای مخاطب تبدیل شوند. ما با تکیه بر نگاه تحلیلی و طراحی تعاملی، پیام را به
							تجربه و فضا را به معنا پیوند می‌دهیم.
						</p>
					</div>
					<h1 class="nexttitle">رویــکـرد هَـنیـز</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="approach">
	<!-- odd -->
	<div class="wfull appfull">
		<div class="line h-line d-line">
			<div class="dot d-dot"></div>
		</div>
		<div class="line2 h-line d-line">
			<div class="dot o-dot"></div>
		</div>
		
		<div class="wmain appmain">
			<div class="app-text">
				<h3>ایده‌پردازی</h3>
				<p>
					ایده‌پردازی برای ما، یافتن پاسخ نیست؛ بلکه زنده‌کردن پرسش‌هاست. نگاهیست نو به تمام آنچه در
					کنار ما عادی و عادت شده است؛ از دیدن دوبارۀ یک جسم ساده، تا خلق تجربه‌ای که ذهن ما را بیدار
					کند. نگاهی که در تمام مراحل کار ما حضور دارد، به آن جان می‌بخشد و آن را معنا می‌کند.
				</p>
			</div>
			<div class="app-pic" style="background-image: url('{% static 'images/app1.jpg' %}');"></div>
		</div>
	</div>

	<!-- even -->
	<div class="wfull appfull">
		<div class="line h-line d-line">
			<div class="dot o-dot"></div>
		</div>
		<div class="line2 h-line d-line">
			<div class="dot o-dot"></div>
		</div>

		<div class="wmain appmain">
			<div class="app-text">
				<h3>روایت</h3>
				<p>
					داستان در کار ما صرفا چیزی نیست که گفته می‌شود؛ بلکه بیشتر آن چیزی‌ست که ناگفته می‌ماند و
					تجربه می‌شود. روایت، خطوط پنهان طراحی ماست؛ خطوطی که کنجکاوی را برمی‌انگیزد، مخاطب را به
					حرکت در می‌آورد و او را به کشفی منحصربفرد می‌رساند.
				</p>
			</div>
			<div class="app-pic" style="background-image: url('{% static 'images/app2.jpg' %}');"></div>
		</div>
	</div>

	<!-- odd -->
	<div class="wfull appfull">
		<div class="line h-line d-line">
			<div class="dot d-dot"></div>
		</div>
		<div class="line2 h-line d-line">
			<div class="dot o-dot"></div>
		</div>

		<div class="wmain appmain">
			<div class="app-text">
				<h3>تجربه</h3>
				<p>
					ما نه فضا، که تجربه را طراحی می‌کنیم؛ آنچه می‌سازیم تجربه‌ای است که با لمس آغاز می‌شود، با
					خیال امتداد می‌یابد و از مرزهای ذهنی عبور می‌کند. تجربه‌ای پویا، تعاملی و چند لایه که مخاطب
					را درگیر می‌کند؛ تا جایی که او دیگر نه صرفا تماشاگر، بلکه کنشگر و بخشی از فرایند تجربه
					باشد. 
				</p>
			</div>
			<div class="app-pic" style="background-image: url('{% static 'images/app3.jpg' %}');"></div>
		</div>
	</div>

	<!-- even -->
	<div class="wfull appfull">
		<div class="line h-line d-line">
			<div class="dot o-dot"></div>
		</div>
		<div class="line2 h-line d-line">
			<div class="dot o-dot"></div>
		</div>
		
		<div class="appmain">
			<div class="app-text">
				<h3>ماندگاری</h3>
				<p>
					ماندگاری برای ما یعنی آغاز، پس از پایان؛ یادی که در ذهن می‌ماند، فکر را درگیر می‌کند و
					همچنان امتداد می‌یابد. ما هر تجربه را طوری طراحی می‌کنیم که پس از تمام شدن، همچنان اثرگذار
					باشد؛ بدل به مرجعی برای علاقمندان و متخصصان آن عرصه شود، شبکۀ روابط انسانی بسازد و از درون
					رشد کند.
				</p>
			</div>
			<div class="app-pic" style="background-image: url('{% static 'images/app4.jpg' %}');"></div>
		</div>
	</div>
</section>

<section class="values">
	<div class="wfull valfull">
		<div class="line h-line o-line">
			<div class="dot o-dot"></div>
		</div>

		<div class="val-title">
			<div class="empty-box">
				<div class="line h-line o-line">
					<div class="dot l-dot"></div>
				</div>
			</div>

			<h1>ارزش‌های طراحی</h1>
		</div>

		<div class="wfull val-box">
			<div class="empty-box">
				<div class="line h-line l-line">
					<div class="dot o-dot"></div>
				</div>
			</div>
			<div class="value">
				<h3>سادگی در عین پیچیدگی</h3>
				<p>
					ما نه فضا، که تجربه را طراحی می‌کنیم؛ آنچه می‌سازیم تجربه‌ای است که با لمس آغاز می‌شود، با
					خیال
					امتداد می‌یابد و از مرزهای ذهنی عبور می‌کند. تجربه‌ای پویا، تعاملی و چند لایه که مخاطب را
					درگیر
					می‌کند؛ تا جایی که او دیگر نه صرفا تماشاگر، بلکه کنشگر و بخشی از فرایند تجربه باشد. 
				</p>
			</div>
		</div>

		<div class="wfull val-box">
			<div class="empty-box">
				<div class="line h-line l-line">
					<div class="dot o-dot"></div>
				</div>
			</div>
			<div class="value">
				<h3>دسترسی‌پذیری</h3>
				<p>
					دسترسی‌پذیری برای ما یعنی طراحی برای همه، نه فقط برای گروهی خاص؛ به گونه‌ای که هرکس، با هر
					سطح
					از آگاهی یا توانایی، بتواند با آن ارتباط بگیرد. تجربه‌ای که از علاقه‌مند تا متخصص، همه چیزی
					در
					آن بیابند؛ چرا که تجربه، وقتی ارزشمند است که برای همگان معنا داشته باشد.
				</p>
			</div>
		</div>

		<div class="wfull val-box">
			<div class="empty-box">
				<div class="line h-line l-line">
					<div class="dot o-dot"></div>
				</div>
			</div>
			<div class="value">
				<h3>آشنایی‌زدایی</h3>
				<p>
					آشنایی‌زدایی یعنی نگاه متفاوت به آنچه به شکل روزمره می‌بینیم. هدف ما این نیست که چیزی جدید
					بگوییم؛ بلکه آن است که از همان چیزهای آشنا سوال کنیم، آن‌ها را تبدیل به مسئله کنیم و به
					شیوه‌ای
					نو ببینیم؛ به گونه‌ای که بتوان از هر چیزی، سخنی تازه شنید.
				</p>
			</div>
		</div>

		<div class="wfull val-box">
			<div class="empty-box">
				<div class="line h-line l-line">
					<div class="dot o-dot"></div>
				</div>
			</div>
			<div class="value">
				<h3>انسان‌محوری</h3>
				<p>
					انسان نه جزئی از طراحی ما، بلکه مرکز طراحی ماست. نه تنها هر آنچه خلق می‌شود، به انسان به
					عنوان
					مخاطب بازمی‌گردد، بلکه از دل انسان، تجربیات و جهان انسانی برمی‌آید. انسان با تمام
					پیچیدگی‌هایش،
					در طراحی ما حاضر است تا هم تجربه کند، هم خالق تجربه باشد.  
				</p>
			</div>
		</div>
	</div>
</section>

<section class="projects">
	<div class="promain">
		<div class="pro-title">
			<h1>پروژه‌ها </h1>

			<div class="line v-line d-line">
				<div class="dot o-dot"></div>
			</div>
		</div>
		<div class="wfull pro-each">
			<div class="pro-right">
				<div class="dot o-dot"></div>

				<h3>موزۀ کامپیوتر ایران</h3>
				<p>
					موزۀ کامپیوتر ایران، داستان انسان و ماشین است؛ داستانی که در آن انسان از شمارش با انگشتان
					دست آغاز می‌کند و خود را به هوش مصنوعی می‌رساند. در سیر بازدید از موزه، وارد تاریخ محاسبات
					می‌شویم، تا نحوۀ تولد کامپیوتر را دریابیم. سپس به درون کامپیوتر سفر می‌کنیم و آنچه را که در
					کامپیوتر نادیدنی است، از طریق شبیه‌سازی و افزارهای تعاملی، دیدنی و ملموس می‌کنیم، تجربه
					می‌کنیم و می‌آموزیم. و درنهایت نشان می‌دهیم که چگونه امروزه کامپیوتر زیست‌جهان معاصر ما را
					دگرگون کرده است. سفر ما در موزۀ کامپیوتر، سفری است که گرچه از گذشته آغاز می‌کند، اما بیشتر
					ما را به آینده دعوت می‌کند. 
				</p>
			</div>
			<div class="pro-left">
				<div class="line h-line o-line">
					<div class="dot d-dot"></div>
					<div class="dot d-dot"></div>
				</div>

				<div class="temp-back" style="background: url('{% static 'images/proj1-2.jpg' %}');">
					<div class="temp-over"></div>
				</div>
				<div class="pro-pic" style="background-image: url('{% static 'images/proj1-2.jpg' %}');"></div>
			</div>
		</div>
		<div class="wfull pro-each">
			<div class="pro-right">
				<div class="dot o-dot"></div>

				<h3>صحنۀ صدای ایران </h3>
				<p>
					نمایشگاه صحنۀ صدای ایران، نمایشگاهیست با قهرمانیِ صدا. در این نمایشگاه داستان صدا را از
					پدیداری طبیعی تا پدیداری انسانی روایت می‌کنیم. در نمایشگاه صحنۀ صدای ایران، با روایت صدا به
					عنوان موجی طبیعی آغاز می‌کنیم و تا صدا به عنوان رخدادی انسانی، همچون کلام، شعر و موسیقی پیش
					می‌رویم. در این روایت نه تنها نشان می‌دهیم خود صدا چگونه به شکل تاریخی، رشد کرده است، بلکه
					نشان می‌دهیم چگونه صدا تاریخ ما را ساخته است. در نمایشگاه، صدا را حبس می‌کنیم، آزاد می‌کنیم،
					لمس می‌کنیم، لذت می‌بریم و می‌آموزیم.   
				</p>
			</div>
			<div class="pro-left">
				<div class="line h-line o-line">
					<div class="dot d-dot"></div>
					<div class="dot d-dot"></div>
				</div>

				<div class="temp-back" style="background: url('{% static 'images/proj2-2.jpg' %}');">
					<div class="temp-over"></div>
				</div>				
				<div class="pro-pic" style="background-image: url('{% static 'images/proj2-2.jpg' %}');"></div>
			</div>
		</div>
		<div class="wfull pro-each">
			<div class="pro-right">
				<div class="dot o-dot"></div>

				<h3>احیای بوم ایرانی </h3>
				<p>
					بوم، کشتی بادبانی سنتی ایرانیان، نمادی از دریانوردی کهن است. این کشتی‌ها زمانی مسیر تجارت
					میان خلیج فارس، هند و آفریقا را طی می‌کردند. اما در چند دهه اخیر این سنت تقریبا از بین رفته
					است. پروژۀ احیای بوم ایرانی، با هدف زنده نگه داشتن این نماد، به کمک ناخدایان قدیمی، این کشتی
					را بازسازی کرده است. نتیجه‌ی آن «بوم بابو» است؛ تنها بوم ایرانی شناور در دریای جنوب، نمادی
					زنده از گذشته.
				</p>
			</div>
			<div class="pro-left">
				<div class="line h-line o-line">
					<div class="dot d-dot"></div>
					<div class="dot d-dot"></div>
				</div>

				<div class="temp-back" style="background: url('{% static 'images/proj3-2.jpg' %}');">
					<div class="temp-over"></div>
				</div>
				<div class="pro-pic" style="background-image: url('{% static 'images/proj3-2.jpg' %}');"></div>
			</div>
		</div>
		<div class="wfull pro-each">
			<div class="pro-right">
				<div class="dot o-dot"></div>

				<h3>نشانه‌گان </h3>
				<p>
					نشانه‌گان، سخن فضا با انسان است. سخنی که گرچه در ابتدا خودش را به شکل علامت‌ها نمادها و
					تصاویری نشان می‌‌دهد که بر دیوار یک فضا نصب شده است، اما می‌تواند حتی تا لایۀ طراحی داخلی و
					طراحی زیربنایی نیز پیش برود. نشانه‌‌گان در یک فضا، به فضا هویت می‌دهد و باعث می‌شود افراد در
					یک فضا احساس آشنایی، صمیمیت و تعلق خاطر کنند. ساختمان بدون نشانه‌گان، هرچند در ساخت کامل
					است، اما در معنا، ناتمام است.   
				</p>
			</div>
		</div>
	</div>

</section>

<section class="about">

	<div class="empty-box">
		<div class="line h-line o-line">
			<div class="dot l-dot"></div>
		</div>
	</div>

	<div class="wmain aboutMain">
		<div class="ab-right">
			<h1>دربارۀ ما</h1>
			<p>
				در تیم هَنیز، نقطۀ شروع هر پروژه، درک عمیق مسئله، نیاز یا دغدغۀ یک فضاست. ما پیش از هر طراحی یا
				اجرای
				راه‌حل، به تحلیل دقیق نیازها، اهداف و مخاطبان هدف می‌پردازیم تا مطمئن شویم فضایی که خلق می‌کنیم،
				دقیقا
				در راستای پیام و تجربه‌ای باشد که صاحب برند در پی آن است.
			</p>
			<p>
				ما باور داریم هر فضا باید پیامی مشخص و اثربخش را به مخاطبان هدف منتقل کند. این پیام، زمانی موثر
				خواهد
				بود که در قالب یک تجربۀ تعاملی منحصربه‌فرد و شخصی‌سازی‌شده شکل بگیرد؛ تجربه‌ای که مخاطب را درگیر
				و
				همراه
				کند و در ذهنش ماندگار شود.
			</p>
			<p>
				طراحی تجربۀ بازدیدکننده در تیم هنیز از تحلیل نظری موضوع آغاز می‌شود، با بررسی دقیق انتظارات و
				ویژگی‌های
				مخاطبان هدف ادامه می‌یابد، و در نهایت با طراحی و اجرای ارتباط تعاملی میان فضا و مخاطب، به
				تجربه‌ای
				انسانی، هدفمند و خلاق تبدیل می‌شود. 
			</p>
			<h3>تماس با ما</h3>
			<div class="ab-contact">
				<div>
					<h6>ایمیل:  studio.haniz@gmail.com </h6>
					<h6>شمارۀ تماس: 09209204910</h6>
				</div>
				<a href="#">
					<img src="{% static 'images/linkedin.png' %}" alt="">
				</a>
			</div>
		</div>
		<div class="ab-left">
			<img src="{% static 'images/logo.png' %}" alt="">
		</div>

		
	</div>
	<div class="empty-box"></div>
</section>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'GSAP/gsap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'GSAP/ScrollTrigger.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'gsap.js' %}"></script>
	<script type="text/javascript" src="{% static 'app.js' %}"></script>
{% endblock script %}