@font-face {
  font-family: "Anjoman";
  src: url("fonts/100-Anjoman-Thin.woff2") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/200-Anjoman-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/300-Anjoman-Medium.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/400-Anjoman-SemiBold.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/500-Anjoman-Bold.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/600-Anjoman-ExtraBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/700-Anjoman-UltraBold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/800-Anjoman-Black.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Anjoman";
  src: url("fonts/900-Anjoman-Heavy.woff2") format("woff2");
  font-weight: 900;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font: 600 38px Anjoman;
}

h3 {
  font: 600 28px Anjoman;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background-color: #E9E5D9;
}

main {
  width: 100%;
}

.wfull {
  width: 100%;
}

.wmain {
  width: 1273px !important;
  height: 100%;
}

.line,
.line2 {
  position: absolute;
}
.line.h-line,
.line2.h-line {
  border-top: 2px solid;
}
.line.v-line,
.line2.v-line {
  border-left: 2px solid;
}
.line.o-line,
.line2.o-line {
  border-color: #E87C12;
}
.line.l-line,
.line2.l-line {
  border-color: #E9E5D9;
}
.line.d-line,
.line2.d-line {
  border-color: #444444;
}

.dot {
  position: absolute;
  border-radius: 50%;
}
.dot.o-dot {
  background-color: #E87C12;
}
.dot.l-dot {
  background-color: #E9E5D9;
}
.dot.d-dot {
  background-color: #3D3D3D;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
}
@-webkit-keyframes heroFirstLine {
  0% {
    left: 101%;
  }
  100% {
    left: 30%;
  }
}
@keyframes heroFirstLine {
  0% {
    left: 101%;
  }
  100% {
    left: 30%;
  }
}
@-webkit-keyframes heroBox {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes heroBox {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes heroMainTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroMainTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes heroSubTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroSubTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  position: relative;
  padding: 0;
}

section.hero,
section.approach {
  color: #3D3D3D;
}

section.hero {
  min-height: 100vh;
  background: url("images/hero.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.hero .herofull {
  position: absolute;
  bottom: -212px;
  height: 498px;
}
section.hero .herofull .line {
  top: 0px;
  width: 70%;
}
section.hero .herofull .line .dot {
  top: -11px;
  left: -2px;
  width: 20px;
  height: 20px;
}
section.hero .herofull .line.heroFirstLine {
  -webkit-animation: heroFirstLine 1.5s;
          animation: heroFirstLine 1.5s;
}
section.hero .herofull .heromain {
  width: 1273px !important;
  height: 100%;
  margin: 0 auto;
}
section.hero .herofull .heromain .hero-box {
  height: 0;
  width: 666px;
  background-color: #E9E5D9;
}
section.hero .herofull .heromain .hero-box.heroBox {
  -webkit-animation: heroBox 2.5s 1.5s;
          animation: heroBox 2.5s 1.5s;
}
section.hero .herofull .heromain .hero-box .hero-text {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 104px 0 42px;
  overflow: hidden;
}
section.hero .herofull .heromain .hero-box .hero-text h1.maintitle {
  opacity: 0;
  font-size: 100px;
}
section.hero .herofull .heromain .hero-box .hero-text h1.maintitle.heroMainTitle {
  -webkit-animation: heroMainTitle 1s linear 2.5s;
          animation: heroMainTitle 1s linear 2.5s;
}
section.hero .herofull .heromain .hero-box .hero-text span.subtitle {
  opacity: 0;
  font: 200 37px Anjoman;
}
section.hero .herofull .heromain .hero-box .hero-text span.subtitle.heroSubTitle {
  -webkit-animation: heroSubTitle 1s linear 3.2s;
          animation: heroSubTitle 1s linear 3.2s;
}
section.hero .herofull .heromain .hero-box .hero-text .hero-p {
  opacity: 0;
  font: 400 23px Anjoman;
  margin: 122px 0 22px;
}
section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine {
  top: -30px;
  left: unset;
  right: 70px;
  width: unset;
  height: 0;
}
section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine .dot {
  top: unset;
  bottom: -2px;
  left: -11px;
  width: 20px;
  height: 20px;
}

section.approach {
  margin: 212px 0 0;
  padding: 64px 0;
}
section.approach .appfull {
  position: relative;
  height: 455px;
  margin-bottom: 66px;
}
section.approach .appfull .appmain {
  width: 1273px !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
section.approach .appfull .appmain .app-text,
section.approach .appfull .appmain .app-pic {
  width: 49%;
}
section.approach .appfull .appmain .app-text {
  position: relative;
  padding: 0 104px 0 80px;
}
section.approach .appfull .appmain .app-text p {
  font: 400 16px Anjoman;
}
section.approach .appfull .appmain .app-pic {
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.approach .appfull .appmain .app-pic img {
  width: 600px;
}
section.approach .appfull .line2 {
  width: calc((100vw - 1120px) / 2);
  top: 22px;
  right: 0;
}
section.approach .appfull .line2 .dot {
  top: -11px;
  left: -2px;
  width: 20px;
  height: 20px;
}
section.approach .appfull.appfull:nth-child(odd) .line {
  width: 56%;
  bottom: 0;
  left: 0;
}
section.approach .appfull.appfull:nth-child(odd) .line .dot {
  top: -11px;
  right: -2px;
  width: 20px;
  height: 20px;
}
section.approach .appfull.appfull:nth-child(odd) .app-pic {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
section.approach .appfull.appfull:nth-child(even) {
  direction: ltr;
}
section.approach .appfull.appfull:nth-child(even) .line {
  width: 56%;
  top: 0;
  right: 0;
}
section.approach .appfull.appfull:nth-child(even) .line .dot {
  top: -11px;
  left: -2px;
  width: 20px;
  height: 20px;
}
section.approach .appfull.appfull:nth-child(even) .line2 {
  display: none;
}
section.approach .appfull.appfull:nth-child(even) .app-text {
  direction: rtl;
  margin-top: -25px;
}
section.approach .appfull.appfull:nth-child(even) .app-pic {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

section.values {
  background: url("images/values.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
section.values .valfull {
  position: relative;
  min-height: 100vh;
  background-color: rgba(61, 61, 61, 0.9);
  color: #E9E5D9;
  padding-bottom: 115px;
}
section.values .valfull .line {
  width: 50%;
  top: -1px;
  left: 0;
}
section.values .valfull .line .dot {
  top: -10px;
  right: -2px;
  width: 20px;
  height: 20px;
}
section.values .valfull .val-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  color: #E9E5D9;
}
section.values .valfull .val-box:nth-child(odd) {
  padding-left: 384px;
}
section.values .valfull .val-box:nth-child(odd) .empty-box {
  width: 597px;
}
section.values .valfull .val-box:nth-child(even) {
  padding-left: 604px;
}
section.values .valfull .val-box:nth-child(even) .empty-box {
  width: 390px;
}
section.values .valfull .val-box .empty-box {
  position: relative;
}
section.values .valfull .val-box .empty-box .line {
  width: 100%;
  top: 24px;
  left: 24px;
}
section.values .valfull .val-box .empty-box .line .dot {
  top: -6px;
  right: unset;
  left: -2px;
  width: 10px;
  height: 10px;
}
section.values .valfull .val-box .value {
  width: 50%;
}
section.values .valfull .val-box .value h3 {
  margin: 0 0 20px;
}
section.values .valfull .val-box .value p {
  margin: 0;
  font: 300 16px Anjoman;
  line-height: 26px;
}
section.values .valfull .val-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 76px 0 85px;
}
section.values .valfull .val-title .empty-box {
  position: relative;
  width: 323px;
}
section.values .valfull .val-title .empty-box .line.valuesFirstLine {
  width: 100%;
  top: 30px;
  left: 105%;
}
section.values .valfull .val-title .empty-box .line.valuesFirstLine .dot {
  top: -10px;
  right: unset;
  left: -2px;
  width: 20px;
  height: 20px;
}

section.projects .promain {
  width: 1273px !important;
  height: 100%;
  margin: 0 auto;
}
section.projects .promain .pro-title {
  position: relative;
  padding: 90px 100px 42px 0;
  overflow: hidden;
}
section.projects .promain .pro-title h1 {
  color: #3D3D3D;
}
section.projects .promain .pro-title .line.projectsFirstLine {
  top: -85%;
  right: 75px;
  height: 129px;
}
section.projects .promain .pro-title .line.projectsFirstLine .dot {
  bottom: -2px;
  left: -11px;
  width: 20px;
  height: 20px;
}
section.projects .promain .pro-each {
  height: 388px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 64px 0;
}
section.projects .promain .pro-each .pro-right {
  position: relative;
  width: 392px;
  margin-left: 88px;
}
section.projects .promain .pro-each .pro-right h3 {
  margin: 0 0 30px 0;
  color: #3D3D3D;
}
section.projects .promain .pro-each .pro-right p {
  margin: 0;
  font: 300 16px Anjoman;
  color: #3D3D3D;
}
section.projects .promain .pro-each .pro-right .dot {
  top: 20px;
  right: -20px;
  width: 10px;
  height: 10px;
}
section.projects .promain .pro-each .pro-left {
  position: relative;
  width: 773px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.projects .promain .pro-each .pro-left .pro-pic {
  width: 525px;
  height: 388px;
  border-radius: 10px;
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 10;
}
section.projects .promain .pro-each .pro-left .line {
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 2;
}
section.projects .promain .pro-each .pro-left .line .dot {
  top: -9px;
  width: 18px;
  height: 18px;
}
section.projects .promain .pro-each .pro-left .line .dot:first-child {
  right: 0;
}
section.projects .promain .pro-each .pro-left .line .dot:last-child {
  left: 0;
}
section.projects .promain .pro-each .pro-left .temp-back {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 713px;
  height: 331px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.projects .promain .pro-each .pro-left .temp-back .temp-over {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(68, 68, 68, 0.8);
}
section.projects .promain .pro-each:last-child {
  height: 317px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}
section.projects .promain .pro-each:last-child .pro-right {
  width: 600px;
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 82px 0 130px;
  background-color: #3D3D3D;
}
section.about .empty-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
section.about .empty-box .line.aboutFirstLine {
  top: 33px;
  left: 100%;
  width: 100%;
}
section.about .empty-box .line.aboutFirstLine .dot {
  top: -10px;
  left: -1px;
  width: 20px;
  height: 20px;
}
section.about .aboutMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
section.about .aboutMain .ab-right {
  width: 704px;
}
section.about .aboutMain .ab-right h1 {
  margin: 0 0 30px;
  color: #E9E5D9;
}
section.about .aboutMain .ab-right p {
  font: 300 16px Anjoman;
  color: #E9E5D9;
  margin: 0 0 20px;
}
section.about .aboutMain .ab-right h3 {
  margin: 80px 0 20px;
  color: #E9E5D9;
}
section.about .aboutMain .ab-right .ab-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.about .aboutMain .ab-right .ab-contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.about .aboutMain .ab-right .ab-contact div h6 {
  margin: 0;
  font: 300 16px Anjoman;
  color: #E9E5D9;
}
section.about .aboutMain .ab-right .ab-contact img {
  width: 34px;
  height: 34px;
  margin-right: 30px;
}
section.about .aboutMain .ab-left {
  color: #E9E5D9;
}
section.about .aboutMain .ab-left img {
  width: 285px;
  height: 95px;
}

@media screen and (max-width: 768px) {
  section.hero {
    height: 100%;
  }
  section.hero .herofull {
    bottom: -185px;
    height: 310px;
  }
  section.hero .herofull .line {
    left: 15%;
    width: 85%;
  }
  section.hero .herofull .line .dot {
    top: -6px;
    width: 10px;
    height: 10px;
  }
  section.hero .herofull .line.heroFirstLine {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain {
    width: calc(100vw - 32px) !important;
  }
  section.hero .herofull .heromain .hero-box {
    height: 100%;
    width: 240px;
  }
  section.hero .herofull .heromain .hero-box.heroBox {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box .hero-text {
    overflow: visible;
    padding: 0 34px 0 30px;
  }
  section.hero .herofull .heromain .hero-box .hero-text h1.maintitle {
    opacity: 1;
    font-size: 60px;
  }
  section.hero .herofull .heromain .hero-box .hero-text h1.maintitle.heroMainTitle {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box .hero-text span.subtitle {
    opacity: 1;
    font-size: 22px;
  }
  section.hero .herofull .heromain .hero-box .hero-text span.subtitle.heroSubTitle {
    -webkit-animation: unset;
            animation: unset;
  }
  section.hero .herofull .heromain .hero-box .hero-text p.hero-p {
    opacity: 1;
    width: 150%;
    font-size: 12px;
    margin: 22px 0 60px;
  }
  section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine {
    top: 0;
    right: 13px;
    height: 98%;
  }
  section.hero .herofull .heromain .hero-box .hero-text .line.heroSecondLine .dot {
    left: -6px;
    width: 10px;
    height: 10px;
  }
  section.approach {
    margin: 190px 0 0;
    padding: 35px 0 0;
  }
  section.approach .appfull {
    height: unset;
    margin-bottom: 60px;
  }
  section.approach .appfull .appmain {
    width: 100% !important;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.approach .appfull .appmain .app-text,
  section.approach .appfull .appmain .app-pic {
    width: 265px !important;
  }
  section.approach .appfull .appmain .app-text {
    position: relative;
    padding: 0 0 30px 0;
  }
  section.approach .appfull .appmain .app-text p {
    font-size: 12px;
  }
  section.approach .appfull .appmain .app-pic {
    height: 222px;
  }
  section.approach .appfull .appmain .app-pic img {
    width: 300px;
  }
  section.approach .appfull .line2 {
    width: 33px !important;
    top: 12px;
  }
  section.approach .appfull .line2 .dot {
    top: -6px;
    left: -2px;
    width: 10px;
    height: 10px;
  }
  section.approach .appfull.appfull:nth-child(odd) .line {
    width: 94%;
  }
  section.approach .appfull.appfull:nth-child(odd) .line .dot {
    top: -6px;
    width: 10px;
    height: 10px;
  }
  section.approach .appfull.appfull:nth-child(even) {
    direction: rtl;
  }
  section.approach .appfull.appfull:nth-child(even) .line {
    width: 94%;
    top: unset;
    bottom: 222px;
  }
  section.approach .appfull.appfull:nth-child(even) .line .dot {
    top: -6px;
    width: 10px;
    height: 10px;
  }
  section.approach .appfull.appfull:nth-child(even) .line2 {
    display: inline-block;
  }
  section.approach .appfull.appfull:nth-child(even) .app-text {
    margin-top: 0;
  }
  section.values .valfull {
    padding-bottom: 63px;
  }
  section.values .valfull .line .dot {
    top: -6px;
    width: 10px;
    height: 10px;
  }
  section.values .valfull .val-box:nth-child(odd), section.values .valfull .val-box:nth-child(even) {
    padding-left: 48px;
  }
  section.values .valfull .val-box:nth-child(odd) .empty-box, section.values .valfull .val-box:nth-child(even) .empty-box {
    width: 91px;
  }
  section.values .valfull .val-box .empty-box .line {
    width: 100%;
    top: 12px;
    left: 10px;
  }
  section.values .valfull .val-box .value {
    width: 100%;
  }
  section.values .valfull .val-box .value h3 {
    margin: 0 0 10px;
  }
  section.values .valfull .val-box .value p {
    font-size: 12px;
    line-height: 20px;
  }
  section.values .valfull .val-title {
    padding: 38px 0 30px;
  }
  section.values .valfull .val-title .empty-box {
    width: 47px;
  }
  section.values .valfull .val-title .empty-box .line.valuesFirstLine {
    width: 100%;
    top: 15px;
    left: 10px;
  }
  section.values .valfull .val-title .empty-box .line.valuesFirstLine .dot {
    top: -6px;
    width: 10px;
    height: 10px;
  }
  section.projects .promain {
    width: 100% !important;
    margin: 0 auto;
  }
  section.projects .promain .pro-title {
    padding: 68px 40px 28px 0;
  }
  section.projects .promain .pro-title .line.projectsFirstLine {
    top: 0;
    right: 20px;
    height: 88px;
  }
  section.projects .promain .pro-title .line.projectsFirstLine .dot {
    bottom: -2px;
    left: -6px;
    width: 10px;
    height: 10px;
  }
  section.projects .promain .pro-each {
    height: unset;
    min-height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 60px 0;
    padding: 0 16px;
  }
  section.projects .promain .pro-each .pro-right {
    width: 250px;
    margin: 0 auto;
  }
  section.projects .promain .pro-each .pro-right h3 {
    margin: 0 0 15px 0;
  }
  section.projects .promain .pro-each .pro-right p {
    font-size: 12pxn;
  }
  section.projects .promain .pro-each .pro-right .dot {
    top: 10px;
  }
  section.projects .promain .pro-each .pro-left {
    width: 100%;
    margin-top: 30px;
  }
  section.projects .promain .pro-each .pro-left .pro-pic {
    width: 265px;
    height: 194px;
  }
  section.projects .promain .pro-each .pro-left .line {
    display: none;
  }
  section.projects .promain .pro-each .pro-left .temp-back {
    width: 100%;
    height: 165px;
  }
  section.projects .promain .pro-each .pro-left .temp-back .temp-over {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(68, 68, 68, 0.8);
  }
  section.projects .promain .pro-each:last-child {
    height: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 60px 0;
  }
  section.projects .promain .pro-each:last-child .pro-right {
    width: 250px;
  }
  section.about {
    padding: 48px 0;
  }
  section.about .empty-box .line.aboutFirstLine {
    top: 15px;
    left: 15px;
  }
  section.about .empty-box .line.aboutFirstLine .dot {
    top: -6px;
    left: -2px;
    width: 10px;
    height: 10px;
  }
  section.about .aboutMain {
    width: 265px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.about .aboutMain .ab-right {
    width: 100%;
    margin-bottom: 128px;
  }
  section.about .aboutMain .ab-right h1 {
    margin: 0 0 30px;
  }
  section.about .aboutMain .ab-right p {
    font-size: 12px;
    margin: 0 0 12px;
  }
  section.about .aboutMain .ab-right h3 {
    margin: 30px 0 10px;
  }
  section.about .aboutMain .ab-right .ab-contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section.about .aboutMain .ab-right .ab-contact div h6 {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
  section.about .aboutMain .ab-right .ab-contact img {
    width: 30px;
    height: 30px;
  }
  section.about .aboutMain .ab-left img {
    width: 143px;
    height: 48px;
  }
}