@font-face {
    font-family: "Anjoman";
    src: url("fonts/100-Anjoman-Thin.woff2") format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/200-Anjoman-ExtraLight.woff2") format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/300-Anjoman-Medium.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/400-Anjoman-SemiBold.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/500-Anjoman-Bold.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/600-Anjoman-ExtraBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/700-Anjoman-UltraBold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/800-Anjoman-Black.woff2") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Anjoman";
    src: url("fonts/900-Anjoman-Heavy.woff2") format("woff2");
    font-weight: 900;
}