<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2JMZGHD57"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-Y2JMZGHD57');
	</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Haniz Studio | {% block title %}{% endblock title %}</title>
    <style>
        body {
            margin: 0px;
            border: 0px;
        }
    </style>
</head>
<body>
    {% block content %}
     
    {% endblock content %}    
</body>
</html>

