{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <title>{% trans "Haniz Sudio" %} {% block title %}{% endblock title %}</title>	
	
	<!-- lorapupa@azuretechtalk.net   >>> pass:hanizstudio -->
	<script src="https://kit.fontawesome.com/9f95ff1f17.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'style.css' %}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<header>
		<div class="header-left">
			<div class="logo">Haniz Studio</div>
			<nav>
				<a href="#top" class="active">Home</a>
				<a href="#about">About Us</a>
				<a href="#team">Our Team</a>
				<a href="#projects">Our Projects</a>
				<a href="#contact">Contact Us</a>

				<!-- <i class="fas fa-bars"></i> -->
				<img src="{% static 'temp/menu.png' %}" onclick="openMobNav()">
			</nav>
		</div>
		<div class="header-right">
			<a href="#" class="h-lang">
				English
				<i class="fas fa-chevron-down"></i>
			</a>
			<a href="#" class="h-contact">
				<i class="far fa-user"></i>
				Get in Touch
			</a>
		</div>
	</header>

	<div id="mobile">
		<i class="fa-solid fa-x" onclick="closeMobNav()"></i>
		<nav>
			<a href="#top" class="active smooth" onclick="closeMobNav()">Home</a>
			<a href="#about" class="smooth" onclick="closeMobNav()">About Us</a>
			<a href="#team" class="smooth" onclick="closeMobNav()">Our Team</a>
			<a href="#projects" class="smooth" onclick="closeMobNav()">Our Projects</a>
			<a href="#contact" class="smooth" onclick="closeMobNav()">Contact Us</a>
		</nav>
	</div>

	<main>
        {% block content %}
      
        {% endblock content %}
	</main>


	<footer id="contact">
		<div class="footer-top">
			<p>
				At Haniz Studio, we specialize in creating unique, immersive visit experiences by combining design, 
				storytelling, branding, and engineering. Our multidisciplinary team transforms ideas 
				into unforgettable journeys, crafting the Else in every project we take on.
			</p>
		</div>
		<div class="footer-down">
			<div class="fd-nav">
				<div class="fd-left">
					<h1>Haniz Studio</h1>
					<span>Visitor Experience Design</span>
				</div>
				<div class="fd-right">
					<a href="#top" class="active">Home</a>
					<a href="#about">About Us</a>
					<a href="#team">Our Team</a>
					<a href="#projects">Our Projects</a>
					<a href="#contact">Contact Us</a>					
				</div>
			</div>
			<div class="fd-bot">
				<a class="f-lang" href="#">
					English
					<i class="fas fa-chevron-down"></i>
				</a>
				<div class="socials">
					<a href="#">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="#">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fab fa-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script>
		// mobile menu
		openMobNav = function() {
			document.getElementById("mobile").style.height = "100%";
			document.getElementById("mobile").style.opacity = "1";
		}
		closeMobNav = function() {
			document.getElementById("mobile").style.height = "0";
			document.getElementById("mobile").style.opacity = "0"}
	</script>
</body>
</html>